PORT = 

MONGODB_URI = # like -> mongodb://127.0.0.1:27017/auth

SESSION_SECRET = a_random_secret_key

#Public Staic Resources CACHE Duration
PUBLIC_CACHE = 30 * 8640000 #milliseconds  #30*1 = 30 days
